*
!*/

# Track this file
!.gitignore
!README.md

# Whitelist these:
!Szakdolgozat.pdf
!Schematic.pdf
!Mikrokontroller perifériák konfigurálása.pdf
!Ketiranyu-teljesitmenyaramlasra-alkalmas-Feladatkiiras.pdf
